:host {
    display: block;
    padding: 0 20px;
    flex: 1;
    overflow-y: auto;
    border-bottom: 2px solid #eee;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: white;
    }

    &::-webkit-scrollbar-thumb {
        background: #d8d8d8;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #c1c1c1;
    }

    .empty-list-message {
        text-align: center;
        color: #414141;
        padding: 30px 0;
    }
}