:host {
    display: flex;
    gap: 5px;
    justify-content: end;

    span {
        padding: 2px 5px;
        font-size: 14px;
        font-weight: 500;
        color: #666;
        border-radius: 5px;
        border: 1px solid #ccc;

        &.done-count {
            color: rgb(0, 166, 113);
            border-color: rgb(0, 166, 113);
            background-color: rgba(0, 166, 113, 0.183);
        }
    }
}