:host {
    display: block;
    padding: 20px;

    form {
        width: 100%;
        display: flex;
        gap: 15px;

        input {
            flex: 1;
            border: 0;
            border-bottom: 2px solid #eee;
            font-size: 24px;
            color: #555;
            &:focus-within {
                outline: 0;
                border-color: #9341ff;
            }
            &::placeholder {
                opacity: 0.5;
            }
        }

        button {
            background-color: #9341ff;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: white;
            font-size: 20px;
        }
    }
}