* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: aliceblue;
    margin: 0;
    padding: 50px;
    align-items: center;
}

h1 {
    margin: 0;
}

button {
    background: none;
    outline: 0;
    border: 0;
    cursor: pointer;         
}
